{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'CRUD Book' %}

{% block page_content %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>Задание</strong>
    </p>


    <pre>
Сделать CRUD-админку для управления авторами и книгами. У автора может быть много книг и книга может иметь много авторов.

Поля автора - ФИО в отдельных полях. Не должно быть двух авторов с одинаковым ФИО.
Поля книги: Название, год издания, ISBN, количество страниц. Не должно быть двух книг с одинаковым сочетанием названия и ISBN или названия и года издания.

    </pre>
{% endblock %}